<launch>
  <!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find roomblock_description)/robots/roomblock.urdf.xacro'" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find roomblock_bringup)/config/roomblock_control.yaml"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="--shutdown-timeout 0.1 roomblock_controller joint_state_controller">
  </node>

  <!-- fake_joint_controller -->
  <node name="fake_joint_driver" pkg="fake_joint_driver" type="fake_joint_driver_node"	output="screen">
    <remap from="/roomblock_controller/cmd_vel" to="/cmd_vel"/>
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>
