<launch>
  <!-- Set true to launch RPLIDAR node -->
  <arg name="launch_rplidar" default="true"/>

  <!-- Set true to launch camera node -->
  <arg name="launch_camera" default="true"/>

  <!-- Set true to launch camera node -->
  <arg name="launch_theta" default="false"/>

  <!-- Set true to launch rviz -->
  <arg name="launch_rviz" default="false"/>

  <!-- Set true to use fake_joint_driver and diff_drive_controller-->
  <arg name="simulation" default="false"/>

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find roomblock_description)/robots/roomblock.urdf.xacro'" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <!-- The odometry estimator
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <remap from="imu_data" to="imu/data"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
  </node>
 -->

  <!-- RPLIDAR a2 -->
  <node if="$(arg launch_rplidar)" name="rplidarNode" pkg="rplidar_ros" type="rplidarNode">
    <param name="serial_port" type="string" value="/dev/rplidar"/>  
    <param name="serial_baudrate" type="int" value="115200"/>
    <param name="frame_id" type="string" value="laser"/>
    <param name="inverted" type="bool" value="false"/>
    <param name="angle_compensate" type="bool"   value="true"/>
  </node>

  <!-- Run real robot interface -->
  <include unless="$(arg simulation)" file="$(find roomblock_bringup)/launch/include/real_roomba.launch.xml"/>

  <!-- Run fake robot interface -->
  <include if="$(arg simulation)" file="$(find roomblock_bringup)/launch/include/fake_roomba.launch.xml"/>

  <!-- Run rviz -->
  <node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find roomblock_bringup)/launch/roomblock_bringup.rviz"/>

  <!-- Run camera -->
  <node if="$(arg launch_camera)" type="raspicam_node" pkg="raspicam_node" name="raspicam_node">

    <param name="camera_info_url" value="package://roomblock_bringup/config/camerav2_320x240.yaml"/>
    <param name="width" value="320"/>
    <param name="height" value="240"/>
    <param name="framerate" value="15"/>
    <param name="vFlip" value="true"/>
    <param name="hFlip" value="true"/>

    <param name="camera_frame_id" value="raspicam"/>

  </node>

  <!-- Run RICOH Theta S -->
  <include if="$(arg launch_theta)" file="$(find roomblock_bringup)/launch/theta_libuvc_camera.launch"/>

</launch>
