<!-- This file is used when we use bag files without odom tf -->
<!-- For comparison with/without IMU -->
<launch>
  <arg name="imu_used" default="true"/>

  <!-- The odometry tf publisher -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="publish_tf" value="true"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="$(arg imu_used)"/>
    <param name="vo_used" value="false"/>
    <param name="output_frame" value="odom"/>
    <remap from="imu_data" to="imu/data"/>
  </node>
</launch>
